.card {
  border-radius: 10px;
  border-color: black;
  padding: 1rem;
  height: 13rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe */

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* https://www.w3schools.com/howto/howto_css_image_avatar.asp */

.avatar {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
}

/* https://stackoverflow.com/a/13924997/10713297 */

.location,
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.intro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* https://codepen.io/feizel/pen/JELGyB */

.box {
  float: left;
}
.box:nth-child(1) {
  width: 20%;
}
.box:nth-child(2) {
  width: 20%;
}
.box:nth-child(3) {
  width: 20%;
}
.box:nth-child(4) {
  width: 20%;
}
.box:nth-child(5) {
  width: 20%;
}
